@model SalesQuery.Web.Models.PricingQueryViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="bd-example" data-example-id="" style="width:60%; margin-left:auto!important; margin-right:auto">
    <h2> Pricing Query Form </h2>
    <br />
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "savePriceQuery" }))
    {
        <div class="form-group row">
            <label for="txtFirstName" class="col-sm-2 form-control-label">First Name </label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.FirstName, new { id = "inputFirstName", @class ="form-control", placeholder="First Name"  }) 
            </div>
        </div>
        <div class="form-group row">
            <label for="txtLastName" class="col-sm-2 form-control-label">Last Name *</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.LastName, new { id = "inputLastName", @class = "form-control", placeholder = "Last Name", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label for="txtEmail" class="col-sm-2 form-control-label">Email *</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.Email, new { id = "inputEmail", type = "email", @class = "form-control", placeholder = "Email", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label for="txtAddressLine1" class="col-sm-2 form-control-label">Address Line 1 *</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(model => model.AddressLine1, new { id = "inputAddressLine1", @class = "form-control", placeholder = "Address Line 1", required = "required" })
            </div>
        </div>
        <div class="form-group row">
            <label for="txtCity" class="col-sm-2 form-control-label">City *</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.City, new { id = "inputCity", @class = "form-control", placeholder = "City", required = "required" })
            </div>
            <label for="txtPostCode" class="col-sm-2 form-control-label" style="padding-left: 60px;">Post Code *</label>
            <div class="col-sm-4">
                @Html.TextBoxFor(model => model.PostCode, new { id = "inputPostCode", @class = "form-control", placeholder = "PostCode", required = "required" })
            </div>
        </div>

        <div class="form-group row">
            <label for="txtCountry" class="col-sm-2 form-control-label">Country *</label>
            <div class="col-sm-4">
                <!-- Due to the limited time, did not added country lookup-->
                <select id="country" class="form-control" name="Country" value="@Model.Country" required>
                    <option value="" selected="selected"> - Select Country - </option>
                    <option value="Germany">Germany</option>
                    <option value="US">United Status</option>
                    <option value="UK">United Kingdom</option>
                </select>
            </div>
        </div>
    <div class="form-group row">
        <label for="txtPhone" class="col-sm-2 form-control-label">Phone *</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(model => model.Phone, new { id = "inputPhone", @class = "form-control", placeholder = "Phone", required = "required" })
        </div>
    </div>

        <div class="form-group row">
            <label for="txtProduct" class="col-sm-2 form-control-label">Interested Product *</label>
            <div class="col-sm-4">
                @Html.ListBoxFor(model => model.SelectedProductIds, new MultiSelectList((System.Collections.IEnumerable)ViewData["ProductList"], "Id", "Name", Model.SelectedProductIds), new { @class = "form-control", required = "required" })
            </div>
        </div>
        

        <button type="submit" class="btn btn-primary">Submit</button>
        <br />
        <br />
        <span>
            @if (TempData["Message"] != null)
            {
                @TempData["Message"]
            }
        </span>
    }
</div>